body{
    background-color: gainsboro;
}
.sec {
    margin: 10px 0;
}
#top-sec,footer{
    text-align: center;
    padding-bottom: 30px;
    background-color: purple;
    color: white;
    font-size: 1.4em;
}
#mid-sec{
    border: 3px solid black;
}
#input-field{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: beige;
}